/*
    Turquoise #0F9F8F
    White #FBFBFB
    Black #07071F
    Red #CF0707
    Green (WhatsApp) #25D366 #128C7E
    Blue (Messenger) #00B2FF #006AFF
*/

body {
    background-color: #07071F;

}

nav {
    background-color: #FBFBFB;
    border-color: #07071F;
}

header {
    background-image: url('../img/header.jpg');
}

header .button {
    background-color: rgba(7, 7, 31, 0.5);
}

main {
    background-color: #FBFBFB;
}

h2 {
    color: #FBFBFB;
}

.button {
    color: #FBFBFB;
    border-color: #FBFBFB;
}

.button:hover {
    background-color: #FBFBFB;
    color: #07071F;
    border-color: #0F9F8F
}

#collections {
    color: #0F9F8F;
}

#collections a:hover {
    color: #07071F;
    border-color: #0F9F8F;
}

hr {
    border-color: #07071F;
}

nav a:hover {
    border-color: #07071F;
    color: #0F9F8F;
}

.interval {
    border-color: #0F9F8F;
}

.card {
    border-top-color: #BFBFBF;
    border-left-color: #BFBFBF;
    border-right-color: #7F7F7F;
    border-right-color: #7F7F7F;
}

.card .button {
    color: #CF0707;
    border-color: #CF0707;
}

.card .button:hover {
    background-color: #0F9F8F;
    border-color: #07071F;
    color: #FBFBFB;
}

.card img {
    border-color: #BFBFBF;
}

footer {
    background-color: #07071F;
    color: rgba(251, 251, 251, 0.5);
}

footer a:hover {
    color: #FBFBFB;
}

#contact-box {
    color: #FBFBFB;
    background-color: rgba(7, 7, 31, 0.5);
}

#contact-box a:hover {
    color: #0F9F8F;
}

#second-heading {
    color: #FBFBFB;
}

.whatsapp {
    border-color: #128C7E;
    color: #128C7E;
}

.whatsapp:hover {
    color: #FBFBFB;
    background-color: #25D366;
}

.messenger {
    border-color: #006AFF;
    color: #006AFF;
}

.messenger:hover {
    color: #FBFBFB;
    background-color: #00B2FF;
}